@font-face {
  font-family: 'ralewaythin';
  src: url('./fonts/ralewayregular.woff2') format('woff2'),
  url('./fonts/ralewayregular.woff') format('woff'),
  url('./fonts/ralewayregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'ralewaythin', Raleway, sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.workspace-btn {
  padding: 0.3125rem 0.3125rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid blue;
  text-decoration: none;
  color: blue;
  width: 48%;

  &:hover {
    background-color: #0b76ef;
    color: white;
  }
}

.workspace-btn-del {
  border: 1px solid red;
  color: red;

  &:hover {
    background-color: red;
  }
}

.workspace-btn-enter {
  border: 1px solid green;
  color: green;

  &:hover {
    background-color: green;
  }
}

.table-main {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  thead {
    tr {
      border-width: 0 0 3px 3px;
      border-color: #59B7CE;
      border-style: solid;

      th {
        padding: 0.5rem;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        background: #59B7CE;
        color: #2D3A4F;
        border-right-color: #59B7CE;
        border-right-width: 3px;
        border-right-style: solid;
      }
    }

  }

  tbody {
    tr {
      border-width: 0 0 3px 3px;
      border-color: #59B7CE;
      border-style: solid;

      &:nth-child(even) {
        background: #D9F2F8;
      }

      &:nth-child(odd) {
        background: #F5FCFE;
      }

      td {
        padding: 0.5rem;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        color: #2D3A4F;
        border-right-color: #59B7CE;
        border-right-width: 3px;
        border-right-style: solid;
      }
    }
  }
}

.code-editor {
  background: #ffffff;
  color: #333333;

  /* you must provide font-family font-size line-height. Example: */
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.3125rem;

  height: 31.25rem;

  border: 2px solid #dddddd;
  border-radius: .5rem;
}

.prism-editor__textarea:focus {
  outline: none;
}

.navbar-brand {
  padding: 0.9375rem;
  border-radius: 1rem 0 1rem 0;
}


.router-link-active {
  background-color: #0A5BF0;
}

.link-light {
  font-size: 1.125rem;
}

.btn-toggle-nav {
  a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
}

.btn-toggle-nav li, .hoverable_item {
  &:hover,
  &:focus {
    color: rgba(0, 0, 0, .85);
    background-color: rgba(210, 244, 234, 0.188);
  }
}

.btn-toggle {
  &::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }

  &[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);

    &::before {
      transform: rotate(90deg);
    }
  }
}

.btn-custom {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}

.side-bar-menu {
  background-color: #59b7ce;

  .btn, a {
    font-size: 1.2rem;
  }
}

.side-bar-menu-light {
  background-color: #59b7ce6b;;
}

.side-bar-menu-light, .side-bar-menu {
  .router-link-active {
    background-color: unset;
    font-weight: bolder;
  }
}

.side-vertical-line {
  background-color: rgba(168, 174, 185, 0.6);
}

.main-block-height {
  min-height: 78vh;
}

ul.underlined_li {
  li {
    border-bottom: 1px solid #252525;

    ul {
      border-top: 1px solid #252525;

      > li:last-child {
        border: none;
      }
    }
  }
}

.no_style_link {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

@media all and (max-width: 575.99px) {

}

@media all and (min-width: 576px) and (max-width: 767.99px) {

}

@media all and (min-width: 768px) and (max-width: 991.99px) {
}

@media all and (min-width: 992px) and (max-width: 1199.99px) {
}

@media all and (min-width: 1200px) and (max-width: 1399.99px) {
}

@media all and (min-width: 1400px) {
}

.custom-card-body {
  padding: 0;
}

.custom-card {
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
  }

  .custom-card-item {
    display: block;
    padding: 1rem;

    &.active-item {
      background-color: #b8bfcc;
    }
  }
}