@import '~bootstrap-icons/font/bootstrap-icons.css';

*{
    font-family: Playfair;
}

.workspace-btn {
    padding: 5px 5px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid blue;
    text-decoration: none;
    color: blue;
    width: 48%;

    &:hover {
        background-color: #0b76ef;
        color: white;
    }
}

.workspace-btn-del {
    border: 1px solid red;
    color: red;

    &:hover {
        background-color: red;
    }
}

.workspace-btn-enter {
    border: 1px solid green;
    color: green;

    &:hover {
        background-color: green;
    }
}